{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/post-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h2 class="subheading">Your shopping cart</h2>
        </div>
      </div>
    </div>
  </div>
</header>
{% from 'bootstrap5/form.html' import render_form %}
<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p class="flash">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
    <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Items -->
      {% set ns = namespace(order_total = 0) %}
      {% for item in cart %}
      {% set ns.order_total = ns.order_total + item[1].price*item[0].number_ordered %}
      <div class="post-preview">
        <p><img src="{{url_for('send_uploaded_file', filename=item[1].image)}}"></p>
        <p>Price: {{item[1].price}}</p>
        <form action="{{url_for('update_cart', cart_id=cart_id)}}" method="post" id="update_cart_{{item[1].id}}">
          <input type="hidden" id="add_item_{{item[1].id}}" name="item_id" value="{{item[1].id}}">
          <input type="number" id="amount_{{item[1].id}}" name="amount" value="{{item[0].number_ordered}}" min="0" max="{{item[1].in_stock}}" step="1" />
        </form>
        <p>Total Price: {{item[1].price*item[0].number_ordered}}</p>
        <button type="submit" form="update_cart_{{item[1].id}}" value="Submit">
          Update cart
        </button>
        <form action="{{url_for('update_cart', cart_id=cart_id)}}" method="post" id="delete_cart_item_{{item[1].id}}">
          <input type="hidden" id="delete_item_{{item[1].id}}" name="item_id" value="{{item[1].id}}">
          <input type="hidden" id="delete_{{item[1].id}}" name="amount" value="0" />
        </form>
        <button type="submit" form="delete_cart_item_{{item[1].id}}" value="Submit">
          Delete Item
        </button>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}
      Order total: {{ ns.order_total }}
      <a class="btn btn-primary float-right" href="{{url_for('checkout', cart_id=cart_id)}}">
          Checkout
      </a>
    </div>
  </div>
</article>

{% include "footer.html" %}
